if TARGET_SOCFPGA_UARPIII

config SYS_CPU
	default "armv7"

config SYS_BOARD
	default "uarpiii-node"

config SYS_VENDOR
	default "unileeds"

config SYS_SOC
	default "socfpga_uarpiii"

config SYS_CONFIG_NAME
	default "socfpga_uarpiii"

endif
