
# Board Type
CONFIG_DEFAULT_DEVICE_TREE="PCIeUIIIArriaInterface"
CONFIG_DEFAULT_FDT_FILE="PCIeUIIIArriaInterface.dtb"
CONFIG_IDENT_STRING="PCIeUIIIArriaInterfaceEPCQ"

# Hardware Type
CONFIG_ARM=y
CONFIG_SYS_L2_PL310=y
CONFIG_ARCH_SOCFPGA=y
CONFIG_SPL_FPGA=y
CONFIG_TARGET_SOCFPGA_UARPIII=y
CONFIG_SYS_NS16550_MEM32=y
CONFIG_DESIGNWARE_APB_TIMER=y

# Sizes
CONFIG_SPL_PAD_TO=0x40000
CONFIG_SPL_TEXT_BASE=0xFFE00000
CONFIG_SPL_STACK=0xffe2b000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xffe2b000
CONFIG_HAS_CUSTOM_SPL_MALLOC_START=y
CONFIG_CUSTOM_SYS_SPL_MALLOC_ADDR=0xffe2b000
CONFIG_SYS_SPL_MALLOC=y
CONFIG_SYS_SPL_MALLOC_SIZE=0x15000

# Others
CONFIG_SPL_PAYLOAD="uarpiii.bin"
CONFIG_DM_GPIO=y
CONFIG_DWAPB_GPIO=y
CONFIG_OF_SPL_REMOVE_PROPS="interrupts interrupt-parent dmas dma-names"
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_SPL_DRIVERS_MISC=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_FS_LOADER=y
CONFIG_SPL_NO_BSS_LIMIT=y
CONFIG_CMD_FPGA_LOADMK=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_CACHE=y
CONFIG_CLOCKS=y
CONFIG_TIMESTAMP=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_FIT=y
CONFIG_SPL_FIT=y
CONFIG_FS_LOADER=y

# Enable MTD support in SPL to get Altera QSPI driver
CONFIG_MTD=y
CONFIG_SPL_NOR_SUPPORT=y
CONFIG_SPL_MTD_SUPPORT=y
CONFIG_DM_MTD=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_ALTERA_QSPI=y

# Peripherals
CONFIG_TIMER=y
CONFIG_SPL_TIMER=y
CONFIG_ETH_DESIGNWARE=y

# Use RAM device for SPL boot. We will copy file from QSPI flash into ram.
#CONFIG_SPL_RAW_IMAGE_SUPPORT=y
#CONFIG_SPL_RAM_SUPPORT=y
#CONFIG_RAM_DEVICE=y


# Common but abandoned
#CONFIG_CMD_ASKENV=y
#CONFIG_CMD_GREPENV=y
#CONFIG_CMD_USB=y
#CONFIG_ENV_OFFSET=0x200000
#CONFIG_ENV_SIZE=0x10000
#CONFIG_SYS_CONSOLE_ENV_OVERWRITE=y
#CONFIG_SYS_CONSOLE_IS_IN_ENV=y
#CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
#CONFIG_SYS_MAXARGS=32
#CONFIG_USE_BOOTARGS=y
#CONFIG_BOOTARGS="console=ttyS0,115200"
#CONFIG_VERSION_VARIABLE=y
