
# Board Type
CONFIG_DEFAULT_DEVICE_TREE="uarpiii_recovery"
CONFIG_DEFAULT_FDT_FILE="uarpiii_recovery.dtb"
CONFIG_IDENT_STRING="UARPIII Node"

# Hardware Type
CONFIG_ARM=y
CONFIG_SYS_L2_PL310=y
CONFIG_ARCH_SOCFPGA=y
CONFIG_SPL_FPGA=y
CONFIG_TARGET_SOCFPGA_UARPIII=y
CONFIG_SYS_NS16550_MEM32=y
CONFIG_DESIGNWARE_APB_TIMER=y

# Sizes
# SPL is located at the bottom of the on-chip RAM (192kB available to SPL)
CONFIG_SPL_TEXT_BASE=0xFFE00000
CONFIG_SPL_PAD_TO=0x30000
CONFIG_SPL_STACK=0xffe28000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xffe2b000
CONFIG_HAS_CUSTOM_SPL_MALLOC_START=y
CONFIG_CUSTOM_SYS_SPL_MALLOC_ADDR=0xffe2b000
CONFIG_SYS_SPL_MALLOC=y
CONFIG_SYS_SPL_MALLOC_SIZE=0x5000
# We then load our custom bootloader to start 192kB into the on-chip RAM as we have no DDR.
# The custom bootloader (run after SPL) will then load our actual program image to the bottom
# of the RAM (the space used by the SPL freed up by that point).
CONFIG_TEXT_BASE=0xFFE30000
CONFIG_SYS_MONITOR_LEN=65536
# Env paramters for SD card for U-Boot proper
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x4400

# MMC
CONFIG_SYS_MMC_MAX_BLK_COUNT=256
CONFIG_MMC_DW=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_CMD_MMC=y

# Others
CONFIG_DM_GPIO=y
CONFIG_DWAPB_GPIO=y
CONFIG_OF_SPL_REMOVE_PROPS="interrupts interrupt-parent dmas dma-names clocks"
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_SPL_DRIVERS_MISC=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_FS_LOADER=y
CONFIG_SPL_NO_BSS_LIMIT=y
CONFIG_CMD_FPGA_LOADMK=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_CACHE=y
CONFIG_CLOCKS=y
CONFIG_TIMESTAMP=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_FIT=y
CONFIG_SPL_FIT=y
CONFIG_FS_LOADER=y
CONFIG_SPL_RAW_IMAGE_SUPPORT=y

# Peripherals
CONFIG_TIMER=y
CONFIG_SPL_TIMER=y
CONFIG_ETH_DESIGNWARE=y
